daemon={{ ddclient_daemon }}
ssl={{ ddclient_ssl }}
use={{ ddclient_use }}
protocol={{ ddclient_protocol }}
server={{ ddclient_server }}
login={{ ddclient_login }}
password={{ ddclient_password }}
vpn