logging {
  level  = "warn"
  format = "logfmt"
}

discovery.docker "containers" {
  host             = "unix:///var/run/docker.sock"
  refresh_interval = "5s"
}

discovery.relabel "containers" {
  targets = discovery.docker.containers.targets

{% for container_name in logging_excluded_containers %}
  rule {
    source_labels = ["__meta_docker_container_name"]
    regex         = {{ ('^/' ~ (container_name | regex_escape) ~ '$') | to_json }}
    action        = "drop"
  }

{% endfor %}
  rule {
    source_labels = ["__meta_docker_container_name"]
    regex         = "/(.*)"
    target_label  = "container"
  }

  rule {
    source_labels = ["__meta_docker_container_image"]
    target_label  = "image"
  }

  rule {
    source_labels = ["__meta_docker_container_label_com_docker_compose_project"]
    target_label  = "compose_project"
  }

  rule {
    source_labels = ["__meta_docker_container_label_com_docker_compose_service"]
    target_label  = "compose_service"
  }
}

loki.source.docker "containers" {
  host       = "unix:///var/run/docker.sock"
  targets    = discovery.relabel.containers.output
  labels     = {environment = "{{ logging_environment }}", source = "docker"}
  forward_to = [loki.process.containers.receiver]
}

loki.process "containers" {
  stage.docker {}
  forward_to = [loki.write.local.receiver]
}

loki.write "local" {
  endpoint {
    url = "http://{{ logging_loki_container_name }}:3100/loki/api/v1/push"
  }
}
