---
apiVersion: 1

datasources:
  - name: Loki
    uid: ansible-nas-loki
    type: loki
    access: proxy
    url: http://{{ logging_loki_container_name }}:3100
    isDefault: true
    editable: false
    jsonData:
      timeout: 60
      maxLines: 2000
